<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Todo - Express</title>
    <!-- Latest compiled and minified CSS & JS -->
    <script src="https://kit.fontawesome.com/2ceed62c3c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="ui fixed menu">
        <div class="header item">
            Todo List App
        </div>
    </div>

    <form class="ui form container">
        <div class="field">
            <label>What would you like to get done?</label>
            <input type="text" name="todo-item" id="todo-item" placeholder="Go for a run">
        </div>
        <button class="ui button green" id="add-todo" type="submit">Add</button>
    </form>

    <div class="ui grid container">
        <div class="four column row">
            <div class="left floated column">
                <div class="ui divided items">
                    <% notDoneTodos.forEach(function(todo){ %>
                    <div class="item">
                        <p class="todo-text"><%= todo.text %></p>
                        <button class="ui inverted red button" id="done-check"><i class="fas fa-check"></i></button>
                    </div>
                    <% }); %>
                </div>
            </div>
            <div class="right floated column">
                <div class="ui divided items">
                    <% doneTodos.forEach(function(todo){ %>
                    <div class="item">
                        <p class="done-todo-text"><%= todo.text %></p>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
    <!-- Custom Script -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/todo.js" type="text/javascript"></script>

</body>

</html>